@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define standard CSS variables for colors */
  --minga-mint: 221 244 231;
  --minga-green: 103 192 144;
  --minga-teal: 38 102 127;
  --minga-blue: 18 65 112;
}

@layer base {
  body {
    /* Use Tailwind's @apply here, referencing the config colors */
    @apply bg-minga-mint text-minga-blue font-sans antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-minga-teal/20 rounded-full hover:bg-minga-teal/40;
}