version: '3.8'

services:
  # The Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: hackatum
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hackatum_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Database GUI (Visualise your data easily)
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: